
#middle-pane {
	background-color: rgba(60, 70, 80, 0.10);
	padding:35px 15px 15px
}
#bottom-pane {
	background-color: rgba(60, 70, 80, 0.15);
}
#left-pane {
	background: #EEEEEE;
	overflow:hidden;
}
#center-pane {
	background:rgba( 0, 0, 0, 0.1);
  
}
#right-pane {
    background:rgba( 0, 0, 0, 0.15);
	
}
.pane-content {
	padding: 0;
}

/* TOP NAV */	
.sub-topnav {
	 background: none repeat scroll 0 0 #161F28;
	 border-bottom: 1px solid #000000;
	 min-height: 40px;
	 position: fixed;
	 top: 68px;
	 width: 100%;
	 z-index: 10;
	 box-shadow: 0 0 3px 0 #000000;
}
.navbar-inner {
    min-height: 80px;
    padding-right: 20px;
    padding-left: 20px;
    background: url("../img/topnav.png") repeat-x scroll 0 0 transparent;
    
    		/*   background-color: #2c2c2c;
    		  background-image: -moz-linear-gradient(top, #333333, #222222);
    		  background-image: -ms-linear-gradient(top, #333333, #222222);
    		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    		  background-image: -webkit-linear-gradient(top, #333333, #222222);
    		  background-image: -o-linear-gradient(top, #333333, #222222);
    		  background-image: linear-gradient(top, #333333, #222222);
    		  background-repeat: repeat-x;
    		  -webkit-border-radius: 4px;
    			 -moz-border-radius: 4px;
    				  border-radius: 4px;
    		  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    		  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    			 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
               box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); */

           }	
           /* tree view */

           #treeview-sprites .k-sprite {
            background-image: url("../img/coloricons-sprite.png");
        }
        .rootfolder 
        {
            background-position: 0 0;	
        }
        .folder 
        {
            background-position: 0 -16px;	
        }
        .pdf 
        {
            background-position: 0 -32px;	
        }
        .html 
        {
            background-position: 0 -48px;	
        }
        .image 
        {
            background-position: 0 -64px;	
        }
        .treeview-back 
        {
           float: left;
           width: 200px;
           margin: 30px;
           padding: 20px;
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
           -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
           box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
           -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
           border-radius: 8px;
       }
       .treeview-back h3
       {
           margin: 0 0 10px 0;
           padding: 0;
       }






       html,
       body
       {
        height:100%;
        margin:0;
        padding:0;
        overflow:hidden;
        background: url("../img/bgnoise_lg.png") repeat scroll 0 0 transparent!important;
        color:#777777!important;
        
    }

    #vertical,
    #horizontal
    {
        height:83%;
    }

    
    /* SIDEBAR */


    .nest-topright{
    	background: url("../img/black.png") repeat scroll 0 0 transparent;
        padding: 0 ;
        position: absolute;
        right: 5px;
        top: 14px;
        border-radius:5px;
        border:1px solid #111;
        box-shadow: 0 1px 0 #666; 
    }
    .nest-topleft {
        background: url("../img/black.png") repeat scroll 0 0 transparent;
        border: 1px solid #111111;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 1px 0 #666666;
        left: 229px;
        padding: 0;
        position: absolute;
        top: 13px;
    }
    .btn-none {
    /*   background-color: #414141;
      *background-color: #222222;
      background-image: -ms-linear-gradient(top, #555555, #222222);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
      background-image: -webkit-linear-gradient(top, #555555, #222222);
      background-image: -o-linear-gradient(top, #555555, #222222);
      background-image: -moz-linear-gradient(top, #555555, #222222);
      background-image: linear-gradient(top, #555555, #222222); 
      background-repeat: repeat-x;*/
      color:#f9f9f9!important;
      text-shadow: 1px 1px 0 #000!important;
      background: url("../img/btn-pat.png") repeat-x scroll 0 0 transparent;
      border-color: #222222 #222222 #000000;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
      filter: progid:dximagetransform.microsoft.gradient(enabled=false);
      border:1px solid #111;
  }

  .btn-none:hover,
  .btn-none:active,
  .btn-none.active,
  .btn-none.disabled,
  .btn-none[disabled] {
      background-color: #222222;
      *background-color: #151515;
  }

  .btn-none:active,
  .btn-none.active {
      background-color: #080808 \9;
  }

  img.id-photo{
   background:url("../img/black.png") repeat scroll 0 0 transparent;
   border-radius: 2px 2px 2px 2px;
   height: 28px;
   left: 5px;
   padding: 3px;
   position: relative;
   top: 3px;
}

    /* =================
    		  SEARCH 
           ==================*/
           .search-holder{
               position: absolute;
               right: 5px;
               top: 5px;
           }
           .dark{
               background: url('./images/dark_grey.jpg');
           }
           .dark input[type=text]{
               border:1px solid #000;
               border-radius: 5px;
               color: #888888;183
               padding: 5px 0 5px 10px!important;
               background: url("../img/black.png") repeat scroll 0 0 transparent ;
               box-shadow: 0 1px 0 #444;
			   height:30px;
           }
           .breadcrumb a{
               color:#ccc;
               text-shadow: 1px 1px 0 #000;
           }
           .breadcrumb .divider{
               color:#ccc;
               text-shadow: 1px 1px 0 #000;
           }
    /* =================
    		  BAR 
           ==================*/

           .topnav {

           }

           ul.topnav {
               padding: 0;
               margin: 0;
               font-size: 1em;
               line-height: 0.5em;
               list-style: none;
               
           }

           ul.topnav li {	}

           ul.topnav li a {

            color: #666666;
            display: block;
            font-size: 12px;
            line-height: 10px;
            padding: 13px 5px;
            text-decoration: none;
            text-transform: uppercase;
            border-left:7px solid transparent;
            background: url("../img/side-bg.png") repeat-x scroll 0 0 transparent;
            height: 11px;
            text-shadow: 1px 1px 0 #FFFFFF;

        }

        ul.topnav li a:hover {
           border-left:7px solid #98bd34;
       }

       ul.topnav ul {
           margin: 0;
           padding: 0;
           display: none;
           list-style: none outside none;
       }

       ul.topnav ul li {
           margin: 0;
           padding: 0;
           clear: both;
       }

       ul.topnav ul li a {
           padding-left: 30px;
           font-size: 10px;
           font-weight: normal;
           outline:0;
           background:#3A444E;
           border-left:7px solid #000;
           border-bottom:1px solid #000;
           text-shadow: none;
           color:#ccc;
       }

       ul.topnav ul li a:hover {
    	/* background-color:#D3C99C;
    	color:#675C7C; */
    	border-left:7px solid #0675c3;
    }

    ul.topnav ul ul li a {
    	color:silver;
    	padding-left: 30px;
    	background:#222;
    }

    ul.topnav ul ul li a:hover {
    	background-color:#98BD34;
    	color:#000;
    }

    ul.topnav span{
    	float:right;
    	
    }
    .k-splitbar-horizontal .k-collapse-prev, .k-splitbar-horizontal .k-expand-next {
        background: url("../img/splitter.png") scroll 0 0;
    }
    .k-splitbar-horizontal .k-collapse-prev, .k-splitbar-horizontal .k-expand-next {
        background-position: 0!important;
        height: 94px!important;
        width: 10px!important;
    }

    .k-splitbar-horizontal .k-collapse-prev {
        margin-top: 0!important;
        position:relative;
        z-index:10;

    }
    .k-splitbar-horizontal .k-collapse-next, .k-splitbar-horizontal .k-expand-prev {
     background: url("../img/splitter2.png") scroll 0 0;
     height: 94px!important;
     width: 6px!important;
     background-position: 0!important;
 }

 .k-splitbar-horizontal .k-collapse-next {
    margin-top: 11px;
}
.k-splitbar-horizontal .k-resize-handle {
 background-position: 0!important;
}

.k-splitbar-horizontal .k-icon {
   margin-top: 0!important;
   position:relative;
   z-index:10;
   top:37% !important;
}

    /* =============
        CONTENT
        ================*/
        .nest {
           /*  background: url("../img/nest-bg.png") repeat scroll 0 0 #f8f8f8; */
			background:none repeat scroll 0 0 #F7F7F7;
            border: 1px solid #CDCDCD;
            clear: both;
            margin-top: 20px;
            border-radius:5px;
        }

        .nest, .middleNav, .sItem, .statsDetailed {
            box-shadow: 0 1px 0 #FFFFFF;
        }
        .nest .title {
           background: url("../img/nest-head-bg.png") repeat-x scroll 0 0 #EFEFEF; 
           border-bottom: 3px double #CDCDCD;
           height: 36px;
           box-shadow: 0 1px 0 #FFFFFF;
		   border-radius: 5px 5px 0 0;
       }
       .nest .title h6 {
        float: left;
        font-size: 12px;
        font-weight: normal;
        padding: 9px 12px 8px;
        text-shadow: 1px 1px 0 #FFFFFF;
        color:#555555;
    }
	
	
	
	.slidder-bar-nest{
	
	padding: 15px;
	margin-bottom:30px;
	
	
	}
    .nest .title .titleIcon {
        background: url("../img/nest-bg.png") repeat scroll 0 0 transparent;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-radius: 0 0 3px 3px;
        border-right: 1px solid #CCCCCC;
        box-shadow: 0 1px 0 #FFFFFF;
        float: left;
        height: 16px;
        margin: 0 0 0 15px;
        padding: 9px 9px 5px;
        width: 16px;
    }
    .body-nest{
    	padding:15px;

    }
	
    img.sidebar-icon{
    	margin: 0 6px 0 0;
    }
	
	   #g1, #g2, #g3, #g4, #g5, #g6 {
        width:120px; height:80px;
        display: inline-block;
        margin-left: 0px;
		float:left;
		margin-right: 10%;
      }
	  .dahboard-gauge{
		background:#fff;
		padding:5px;
		border-radius:4px;
		margin:25px 0 0 0;
		box-shadow:0 1px 0 #FFFFFF;
		border:1px solid #ccc;
	}
	  .gauge-tittle{
		margin-top:25px;
		color:#555;
		margin-left: 50px;
		text-transform:uppercase;
	  }
	  .gauge-subtittle{
	  	margin-top:-5px;
		margin-left: 10px;
		color:#000;
		font-size:24px;
	  }
.gauge-subtittle span{
		color:#ccc;
		font-size:12px;
		background:none;
		margin-top:-15px;
	  }
	  
.wellcome-msg {
		padding: 0;
		margin:  0px 0 5px 0;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
/* 			color: #333;
		
		background-color: rgba(255, 255, 255, 0.3);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
         border-radius: 4px; */
}
	  
	.field { 
	width: 100%;  
	margin: 0 0 40px; 
	height:1px;
	} 
	.field input { margin: 0; }
	h3 span { background: #444; color: #fff; padding: 3px; }
	pre { background: #f4f4f4; }

	/* Used for the Switch effect: */
	.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../img/switch.gif) repeat-x; display: block; float: left; }
	.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
	.cb-enable span { background-position: left -90px; padding: 0 10px; }
	.cb-disable span { background-position: right -180px;padding: 0 10px; }
	.cb-disable.selected { background-position: 0 -30px; }
	.cb-disable.selected span { background-position: right -210px; color: #fff; }
	.cb-enable.selected { background-position: 0 -60px; }
	.cb-enable.selected span { background-position: left -150px; color: #fff; }
	.switch label { cursor: pointer; }
	
		fieldset { border:0; margin: 3em; height: 12em;}	
	/* 	label {font-weight: normal; float: none; margin-right: .5em; font-size: 1.1em;} */
		select {margin-right: 1em; float: none;}
		.ui-slider {clear: both; top: 2em;}
				
				
/* USER THUMB */

.user-thumb{
	float:left;
	margin-right:15px;
}
.users-list li{
	list-style:none;
}
/* CHART */
.chart-info {
	margin-left:10px;
	margin-bottom:15px;

}
.chart-info li{
	display:inline-block;
	margin-right:5px;
}
.green-cart-info {
	background:#D0DFA9;
	padding: 0 15px;
	margin: 0 5px;
	border:2px solid #96BB35;
	border-radius:2px;
	border-radius:2px;
}
.blue-cart-info {
	background:#B2DDE4;
	padding: 0 15px;
	margin: 0 5px;
	border:2px solid #4AB6C9;
	border-radius:2px;
	border-radius:2px;
}
.magenta-cart-info {
	background:#DAEAF7;
	padding: 0 15px;
	margin: 0 5px;
	border:2px solid #AFD8F8;
	border-radius:2px;
	border-radius:2px;
}

/* RIGHT CONTENT */
.progress-nest{
/* 	background:rgba( 255, 255, 225, 0.15);
	padding:15px;
	position:absolute;
	bottom:0;
	width:0;
	height:100px;
	right:0;  */
}